{{#partial "content"}}

    <div class="container text-center" id="container2">
        <h3>Our gallery</h3>
        <hr id="hr2">
        <br>
        <div class="row">
            <div class="col-sm-4">
                <img src="images/gal1.jpeg" class="img-responsive" style="width:100%; height:" alt="Image">
                <p> </p>
            </div>
            <div class="col-sm-4">
                <img src="images/gal2.jpeg" class="img-responsive" style="width:100%" alt="Image">
                <p> </p>
            </div>
            <div class="col-sm-4">
                <img src="images/gal3.jpg" class="img-responsive" style="width:100%" alt="Image">
                <p> </p>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="images/gal4.jpg" class="img-responsive" style="width:100%" alt="Image">
                <p> </p>
            </div>
            <div class="col-sm-4">
                <img src="images/gal6.jpeg" class="img-responsive" style="width:100%" alt="Image">
                <p> </p>
            </div>
            <div class="col-sm-4">
                <img src="images/gal7.jpeg" class="img-responsive" style="width:100%" alt="Image">
                <p> </p>
            </div>
        </div>
    </div><br>

{{/partial}}

{{> layout.hbs}}