{{#partial "content"}}

    <div class="container text-center" id="container2">
        <h3>SUCCESS !!</h3>
        <hr id="hr2">
        <br>
        <div class="success">
            <h3>Dear client,  <span class="s-title">{{ item }} </span> <br>  Your review is successfully posted<br>{{name}}</h3>
            <a class="btn btn-primary" href="/designers">BROWSE THROUGH OTHER DESIGNERS</a>
        </div>
    </div><br>

{{/partial}}
{{> layout.hbs}}